<%= render 'nav' %>
 <%= render 'yourVenues' %>

<div class="changePassword">
<h1>Change Password</h1>
<%= form_for @user do |f| %>
	<%= f.password_field :old_password, :placeholder => "Old Password", :class => "PW" %><br /><br />
	<%= f.password_field :password, :placeholder => "Password", :class => "PW" %><br /><br />
	<%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "PW" %><br /><br />
	<%= f.submit 'Update', :class => "update" %>
<% end %>
</div>


	